svg {
  background: #fff;
  width: 800px;
  height: 500px;
  position: relative;
  left: -200px;
}

#countries path {
  stroke: #fff;
  stroke-width: 1px;
}

#countries .missing {
  fill: #DDD;
  stroke-width: 0px;
}

#popup {
  fill: #F00;
}

#popupText {
  fill: #000;
  font-size: 30pt;
}

