svg {
  background: #fff;
  width: 960px;
  height: 500px;
}

#countries path {
  stroke: #fff;
  stroke-width: 1px;
}

#countries .missing {
  fill: #DDD;
  stroke-width: 0px;
}

#popup {
  fill: #F00;
}

#popupText {
  fill: #000;
}

